
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin:  0 auto;
  }
  h1{
    margin: 0 auto;
    text-align: center;
  }
  table {
    width: 80%;
    border-collapse: collapse;
    margin:  0 auto;
    font-size: 18px;
    text-align: left;
   
  }
  
  th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  